{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="employee">
    <br>
    <br>
    <div class="row">
        <div class="col-md-2 offset-md-2">
            <button @click="add_task = true" class="btn btn-primary" :disabled="add_task">
                Add Task
            </button>
            <button @click="add_task = false" class="btn btn-info" :disabled="add_task === false">
                List Task
            </button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-bordered" v-if="(task_list !== '') && add_task === false">
                <tr>
                    <th>
                        Sl.no
                    </th>
                    <th>
                        Task
                    </th>
                    <th>
                        Task status
                    </th>
                    <th>
                    </th>
                </tr>
                <tr v-for="(task, num) in task_list">
                    <td><% num+1 %></td>
                    <td v-if="task.edit === false">
                        <% task.task %>
                    </td>
                    <td v-if="task.edit">
                        <input v-model="task.task" type="text">
                    </td>
                    <td v-if="task.edit === false">
                        <% task.status %>
                    </td>
                    <td v-if="task.edit">
                        <select @change="onChange($event,num)">
                            <option v-for="option in options">
                                <% option %>
                            </option>
                        </select>
                    </td>
                    <td>
                        <button @click="task.edit = true" v-if="task.edit === false">
                            edit
                        </button>
                        <button @click="task.edit = false" v-if="task.edit">
                            Cancel
                        </button>
                        <button @click="editChanges(num)" v-if="task.edit">
                            Save
                        </button>

                    </td>
                
                </tr>
            </table>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" @click="csvfiledownload()">
                Download CSV Report
            </button>
        </div>
    </div>

    <div class="row" v-if="add_task">
        <div class="col-md-8 offset-md-2">
            <input type="text" v-model="data_to_save.task_name" class="form-group"/>
            <br>
            <br>
            <button class="btn btn-primary" @click="saveTask">
                Add task
            </button>
        </div>
    </div>

    <br>
    <br>

</div>
{% load static %}
<script src="{% static 'emp.js' %}"></script>
{% endblock %}
